
body {
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#createListContainer {
    width: 20vw;
    margin: 20px;
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

#activeList {
    width: 60vw;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

label {
    margin: 10px;
}

button {
    width: 10vw;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

div {
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    margin: 5px;
}
  

#activeList {
    display: flex;
    justify-content: flex-start;
}

.activeListBtn {
    width: 10vw;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

.activeListBtn:hover {
    transform: scale(1.2);
    background-color: black;
    border-radius: 10px;
    border: 0px;
    color: white;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

li {
    width: 100%;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: large;
    transition: 0.2s;
}

li:nth-child(odd) {
    background: #f9f9f9;
}
  
li:hover {
    background: #ddd;
}

.displayList {
    background-color: black;
    border-radius: 10px;
    border: 0px;
    color: white;
}

ul {
    width: 100%;
}

.completed {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

#completedListsContainer {
    width: 80vw;
    height: 10vh;
}